mixin form-registr()
	//block form-registr
	.form-registr
		.text-block
			.type.type-lg.type--up.type--mid Регистрация
			.type.type--italy.type--mid Равным образом консультация с широким активом представляет собой интересный эксперимент
			form
				.form-registr__wrap
					input(type="text" placeholder="Ваш email")
					input(type="text" placeholder="Возраст Вашего ребенка")
					input(type="text" placeholder="Ваш пароль")
					input(type="text" placeholder="Еще пункт")
				button Регистрация
	//block form-registr end