//! block form-registr
.form-registr
		flex(mid)
		fl()
		fw()
	form
		margin-top 20px
		flex(mid)
		fl()
.form-registr__wrap
	flex(between)
	fw()
	margin-bottom 20px
	input 
		width 48%
	
	
//!block form-registr end