mixin main-slider()
	//block main-slider
	.main-slider--wraper.main-cont
		.main-slider__form
			.main-slider__title заголовок Формы захвата
			.main-slider__text Равным образом консультация с широким активом представляет собой интересный
			form
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="Ваш email")
				input(type="text" placeholder="Ваш номер телефона")
				button отправить заявку
	.main-slider.owl-carousel
		.main-slider__el(style="background-image:url(img/slide.jpg) ")
		.main-slider__el(style="background-image:url(img/slide.jpg) ")
	.main-slider__footer
	//block main-slider end