//! block pagination
.pagination
	+below(768px)
		flex(mid)
	f()
	fw()
	margin-top 20px
.pagination__el
	+below(768px)
		padding 5px 10px
	br(14px)
	tr(all)
	padding 10px 20px
	display inline-block
	margin-right 5px
	color white
	background orange
	&:hover
		background grey  
//!block pagination end