//! block pagination
.pagination
	f()
	fw()
	margin-top 20px
.pagination__el
	br(14px)
	tr(all)
	padding 10px 20px
	display inline-block
	margin-right 5px
	color white
	background orange
	&:hover
		background grey  
//!block pagination end