mixin section-bread()
	//block section-bread
	.main-cont
		.bread
			a(href="#").bread--el Главная страница
			a(href="#").bread--el Еще страница
			.bread--el Каталог уроков

	//block section-bread end