//! block section-review
.section-review
	.owl-prev,
	.owl-next
		color orange
		font-size 60px
	.owl-next
		+below(1280px)
			right 0
		right -5%
	.owl-prev
		+below(1280px)
			left 0
		left -5%
.section-review__title
	text-align center
	@extend .type	
	@extend .type-lg
	margin-bottom 30px
	font-size 27px
//.section-review
//.review-slider
.review-slider__el
	+below(768px)
		fw()
	flex(between)
	padding 0 40px
.review-slider__img
	+below(768px)
		width 100%
		img
			width 200px!important
			margin 0 auto
			margin-bottom 20px
	width 25%
	img
		border-radius 50% 
.review-slider__info
	+below(768px)
		width 100%
	width 70%
	margin-left 5%
.review-slider__title
	+below(768px)
		text-align center
	up()
	font-size 20px
	margin-bottom 20px
.review-slider__text
	+below(768px)
		text-align center
	@extend .italy
//!block section-review end