//! block header-row
.header--row 
	background url("../img/bg-bottom-elipse.png") no-repeat;
	background-position bottom center
	padding-bottom 20px
	.header-menu__logo-img
		img
			height 115px
			margin-left 10px
	.header-menu__part
		&:before
			content ''
			background white!important
//!block header-row end