/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-checkbox-check {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 18px;
  height: 18px;
}
.icon-checkbox-default {
  background-image: url(../img/sprite.png);
  background-position: -18px 0px;
  width: 18px;
  height: 18px;
}
.icon-checkbox-empty {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 18px;
  height: 18px;
}
.icon-radio-check {
  background-image: url(../img/sprite.png);
  background-position: -18px -18px;
  width: 18px;
  height: 18px;
}
.icon-radio-default {
  background-image: url(../img/sprite.png);
  background-position: -36px 0px;
  width: 18px;
  height: 18px;
}
.icon-radio-empty {
  background-image: url(../img/sprite.png);
  background-position: -36px -18px;
  width: 18px;
  height: 18px;
}
