//! block section-filter
.section-filter
	+below(1200px)
		fw()
	flex(between)
	margin-bottom 20px
	.btn
		+below(1200px)
			width 100%
			text-align center
		margin-bottom 10px
	.nice-select
		width 100%
		margin-right 10px
		margin-bottom 10px
	.list
		width 100%
//!block section-filter end