mixin section-filter()
	//block section-filter
	.main-cont
		.section-filter
			select.select
				option(data-display="Выберите направление уроков") нет
				option Один
				option Два
				option Три
			select.select
				option(data-display="Выберите возраст ребенка") нет
				option Один
				option Два
				option Три
			select.select
				option(data-display="Выберите, что нибудь еще") нет
				option Один
				option Два
				option Три
			select.select
				option(data-display="Выберите, что нибудь еще") нет
				option Один
				option Два
				option Три
			.btn.btn-md найти 
	//block section-filter end