//for ie
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
	.footer-menu__logo-img
		width 70px
		position relative
		img
			left 5px
			position absolute
			height 170px
			top -50px!important
	.opros__wraper
		p
			display block
			width 100% 
	.form-registr
		.text-block
			width 100%
		.type
			width 100%
			display block
	.form-enter
		.text-block
			width 100%
		.type
			width 100%
			display block
	.form-registr__wrap
		width 100%
		input
			display block 
	.header-menu__right
		width inherit!important
	.header-menu__left
		width inherit!important
	.header-menu__logo
		width inherit!important
	.header-menu__el
		width inherit!important
		flex-grow 1
	.footer-menu__right
		width inherit!important
	.footer-menu__left
		width inherit!important
	.footer-menu__logo
		width inherit!important
	.footer-menu__el
		width inherit!important
		flex-grow 1
		display block!important

@media screen and (max-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) 
	.header-menu__el
		height 30px
	.header-menu__logo
		width 100%!important
	.header-menu__left
		width 100%!important
	.header-menu__right
		width 100%!important