mixin section-map()
	//block section-map
	.section-map
		script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=feuH-g4ROn_1bid5pVBL-mcPOhEwH9iO&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
		.section-map__wraper

			.main-cont
				.map__form
					.map__title заголовок Формы захвата
					.map__text Равным образом консультация с широким активом представляет собой интересный
					form
						input(type="text" placeholder="Ваше имя")
						input(type="text" placeholder="Ваш email")
						input(type="text" placeholder="Ваш номер телефона")
						button отправить заявку


	//block section-map end