mixin section-map()
	//block section-map
	.section-map
		.section-map__wraper
			.main-cont
				.map__form
					.map__title заголовок Формы захвата
					.map__text Равным образом консультация с широким активом представляет собой интересный
					form
						input(type="text" placeholder="Ваше имя")
						input(type="text" placeholder="Ваш email")
						input(type="text" placeholder="Ваш номер телефона")
						button отправить заявку


	//block section-map end