//! block section-welcome
.section-welcome
	bgi('pattern.jpg')
	background-repeat repeat
.opros__wraper
	.text-block
		padding 20px 25px
		flex(mid)
		fl()
		fw()
	p
		text-align center
		margin-bottom 20px
//!block section-welcome end