//! block footer
.footer
	position relative
	z-index 100
	margin-top 40px
.footer--main
	.footer-menu__part
		&:before
			content ''
			background white 
.footer__cloud
	width 100%
	position absolute
	left 0px
	top 0px
	bgi('bg-cloud.png')
	height 210px
	background-size cover
	background-position  center center
.footer-top
	flex(between)
	padding 15px 0
.footer-top__flag
	f()
.footer-top__flag-el
	flex(mid)
	span
		margin-left 5px
		margin-right 10px
		font-size 14px
		font-weight 400
	img
		height 14px 		
		
.footer-top__auth
	flex(mid)
	
.footer-top__auth-el
	&:nth-child(2)
		border-right 1px solid grey
	padding 0 10px
	line-height 15px
	
.footer-menu
	+below(1024px)
		display none
	flex(between)
.footer-menu__left
	flex-grow 1
	position relative
	flex(between)
	padding 20px
	background orange 
	width 100%
	border-radius 10px 0 0 10px
	&:before
		content ''
		background blue
		width 20px
		height 100%
		position absolute
		top 0px
		right -10px
		border-radius 50%
		
.footer-menu__el
	+below(1024px)
		font-size 12px
		padding 0 10px
	up()
	width 100%
	color white
	text-align center
	
.footer-menu__logo
	width 70%
	flex(between)
	align-items: initial;
	padding  0 20px
.footer-menu__logo-text
	span
		up()
		text-align center
		display block
.footer-menu__logo-img
	width 70px	
	position relative
	img
		left 5px
		position absolute
		height 170px
		top -30px 
		
.footer-menu__right
	flex-grow 1
	flex(between)
	border-radius 0 10px 10px 0
	padding 20px
	background orange 
	width 100%
	position relative
	&:before
		content ''
		background blue
		width 20px
		height 100%
		position absolute
		top 0px
		left -10px
		border-radius 50% 
.later-space
	letter-spacing 3px
.footer-menu__part
	.footer-menu__el
		&:nth-child(2)
			border-right 1px  dotted white
			border-left 1px  dotted white
.footer-wraper
	position relative
	z-index 200
.footer__bot
	+below(1024px)
		fw()
	flex(between)
	p
		font-size 14px
	margin 20px 0
.footer__bot-right
	text-align right
	@extend .italy
.footer__bot-el
	+below(1024px)
		width 100%
		text-align center
//!block footer end