mixin footer()
	//block footer
	.footer.footer--main
		.main-cont.footer-wraper
			.footer-menu
				.footer-menu__part.footer-menu__left
					a(href="#").footer-menu__el Журнал
					a(href="#").footer-menu__el Институт
					a(href="#").footer-menu__el Новости
				.footer-menu__logo
					.footer-menu__logo-text  
						span Отбасылық 
						span тәрбиеелеу 
						span ИНСТИТУТЫ
					.footer-menu__logo-img
						img(src="img/logo.png", alt="")
					.footer-menu__logo-text 
						span.later-space ИНСТИТУТ 
						span СЕМЕЙНОГО 
						span ВОСПИТАНИЯ
				.footer-menu__part.footer-menu__right
					a(href="#").footer-menu__el Видео
					a(href="#").footer-menu__el Творчество
					a(href="#").footer-menu__el Контакты
			.footer__bot
				.footer__bot-el.footer__bot-left
					p © 2012-2015 ИНСТИТУТ СЕМЕЙНОГО ВОСПИТАНИЯ
					p Все права защищены.
				.footer__bot-el.footer__bot-right
					p Отандысүю – от басынан басталады.
					p Любовь к Родине у семейного очага рождается.
	//block footer end