-
	pages = [
	
		{
			'name':'Главная',
			'href':'index'
		},
		{
			'name':'Каталог',
			'href':'catalog'
		},
		{
			'name':'Статья',
			'href':'article'
		},
		{
			'name':'Урок',
			'href':'lesson'
		},
		{
			'name':'Регистрация',
			'href':'registration'
		},
		{
			'name':'Тест',
			'href':'test'
		}
	
	]
	
