mixin content-block()
	//block content-block
	.content-block
		.content-block__img
			img(src="img/children.jpg", alt="")
		.content-block__info
			a(href="#").content-block__title КАК ПРАВИЛЬНО ОБУЧАТЬСЯ В WA?
			.content-block__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia eum ducimus, voluptate, porro sit at aliquam est minima optio deleniti suscipit fugit incidunt, iste nam? Doloribus eius quaerat, autem eveniet expedita, soluta sunt nulla, accusantium doloremque hic assumenda. Consequatur incidunt possimus at quae pariatur fugit voluptas quo tempora
			a(href="#").btn.btn-md Купить урок 
	//block content-block end