mixin vertical-slider()
	//block vertical-slider
	.text-block.slider-vertical__wraper
		.slider-vertical
			- for (var i = 0; i < 14; i++)
				a(href="#")
					.slider-vertical__el(style="background-image:url(img/vertical-slider.jpg)")
						.slider-vertical__info КАК ПРАВИЛЬНО ОБУЧАТЬСЯ В WA?
	//block vertical-slider end