//! block header
.header
	position relative
	z-index 100
.header--main
	.header-menu__part
		+below(1024px)
			fw()
			br(0)
			padding 0
			&:before
				content ''
				display none 
		&:before
			content ''
			bgi('bg-cloud.png')
.header__cloud
	width 100%
	position absolute
	left 0px
	top 0px
	bgi('bg-cloud.png')
	height 210px
	background-size cover
	background-position  center center
.header-top
	+below(1024px)
		fw()
		flex(mid)
	flex(between)
	padding 15px 0
.header-top__flag
	f()
.header-top__flag-el
	flex(mid)
	span
		margin-left 5px
		margin-right 10px
		font-size 14px
		font-weight 400
	img
		height 14px 		
		
.header-top__auth
	+below(1024px)
		a 
			font-size 12px
	flex(mid)
.header-top__auth-el
	&:nth-child(2)
		border-right 1px solid grey
	padding 0 10px
	line-height 15px
	
.header-menu
	+below(1024px)
		fw()
		margin-bottom 30px
	flex(between)
.header-menu__left
	flex-grow 1
	+below(1024px)
		margin-top 120px
	flex(between)
	position relative
	padding 20px
	background orange 
	width 100%
	border-radius 10px 0 0 10px
	&:before
		content ''
		background blue
		width 20px
		height 100%
		position absolute
		top 0px
		right -10px
		border-radius 50%
		
.header-menu__el
	+below(1200px)
		font-size 12px
		padding 0px 10px
	+above(1024px)
		display block!important
	+below(1024px)
		border 0px!important
		padding 10px
		display none 
	up()
	width 100%
	color white
	text-align center
.header-menu__left
	+below(1024px)
		order 2
	order 1
.header-menu__right
	flex-grow 1
	+below(1024px)
		order 3
	order 3
.header-menu__logo
	+below(1024px)
		flex(mid)
		order 1
		align-items: initial;
		width 100%
	order 2
	width 70%
	flex(between)
	align-items: initial;
	padding  0 20px
.header-menu__logo-text
	span
		up()
		text-align center
		display block
.header-menu__logo-img
	width 70px	
	position relative
	img
		+below(1024px)
			height 125px
			top -15px
			left 15px
		left 5px
		position absolute
		height 170px
		top -35px
		
.header-menu__right
	flex(between)
	border-radius 0 10px 10px 0
	padding 20px
	background orange 
	width 100%
	position relative
	&:before
		content ''
		background blue
		width 20px
		height 100%
		position absolute
		top 0px
		left -10px
		border-radius 50% 
.later-space
	letter-spacing 3px

.header-menu__left
	.header-menu__el
		flex-grow 1
		&:nth-child(3)
			border-right 1px  dotted white
			border-left 1px  dotted white
.header-menu__right
	.header-menu__el
		&:nth-child(2)
			border-right 1px  dotted white
			border-left 1px  dotted white
.header-wraper
	position relative
	z-index 200
.header-menu__toggle
	+below(1024px)
		display block 
	display none
	up()
	width 100%
	color white
	text-align center
	padding 10px
	cp()
	position relative
	.icon-bars
		position absolute
		right 10px
		top 12px 
//!block header end