mixin form-enter()
	//block form-enter
	.form-enter
		.text-block
			.type.type-lg.type--up.type--mid Вход в кабинет
			.type.type--italy.type--mid Равным образом консультация с широким активом представляет собой интересный эксперимент
			form
				input(type="text" placeholder="Ваш email")
				input(type="text" placeholder="Ваш пароль")
				button Войти в кабинет


	//block form-enter end