mixin section-test()
	//block section-test
	.main-cont
		.grid.grid--container
			.row
				.col.col--md-8
					img(src="img/video.jpg", alt="").video-cont
				.col.col--md-4
					.type.type-md.type--up Тестовое занятие
					.text-block.text-block__blue
						p.italy Равным образом консультация с широким активом представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.азвиразвития.
	.bg-bottom-elipse
	//block section-test end