//! block section-test
.bg-bottom-elipse
	+below(768px)
		background-size contain
	width 100%
	height 100px
	bgi('bg-bottom-elipse.png')
	margin-top -20px
	background-size cover
	background-position bottom  center
.video-cont
	width 100%

//!block section-test end